//OPENLAYERS
.maputnik-layout {

    .layer-switcher {
        top: 80px;
    }
    
  .ol-zoom {
    top: 30px;
    right: 0.5em;
    left: unset;
  }

  .ol-attribution.ol-logo-only {
    height: 20px;
  }

  .ol-mouse-position {
      background: rgb(28, 31, 36);
  }

  .ol-control {
    button {
      background-color: rgb(28, 31, 36);
    }

    button:hover {
      background-color: rgb(86, 83, 83);
    }
  }
}
